
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Page</h2>
<hr />
First Name: <input type="text" placeholder="eg. trev" /> 
<br />
Last Name: <input type="text" value="eg. will" /> 
<br />

